
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            align-content: center;
            background-color: rgb(255, 255, 255); /* Set background color to white */
        }

        header {
            background-color: hsl(225, 99%, 47%);
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: #eee;
            padding: 10px;
            text-align: center;
        }

        nav a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
        }

        .middle {
            text-align:center;
        }

        section {
            padding: 20px;
            text-align: center; /* Center align content */
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }li {
            float:right;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

    